<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->

  <variable name="linePrefix" value="${date:format=yyyy-MM-dd HH\:mm\:ss} ${pad:padding=5:inner=${uppercase:${level}}} ${callsite:IncludeSourcePath=false} - "/>
  <variable name="exceptionFormat" value="${onexception:${newline}EXCEPTION OCCURRED\:${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  <variable name="appName" value="PromoPort"/>

  <targets>
    <!-- add your targets here -->

    <target xsi:type="File"
            name="ErrorLog"
            deleteOldFileOnStartup="true"
            fileName="${basedir}/logs/AzureDataCosts-Error.log"
            layout="${longdate}|${level:uppercase=true}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}|${message}" />

    <target xsi:type="File"
            name="InfoLog"
            deleteOldFileOnStartup="true"
            fileName="${basedir}/logs/AzureDataCosts-Info.log"
            layout="${longdate}|${level:uppercase=true}|${callsite:className=true:fileName=true:includeSourcePath=false:methodName=true}|${message}" />

  </targets>

  <rules>
    <!-- add your logging rules here -->

    <logger name="*" minlevel="Info" writeTo="InfoLog" />
    <logger name="*" minlevel="Error" writeTo="ErrorLog" />

  </rules>
</nlog>